body{
    font-family: 'Alkatra', cursive;
    background: url(https://images.unsplash.com/photo-1523878288860-7ad281611901?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80) no-repeat center center fixed;
  background-size: cover;
 height: 100%;
}

.things{
    position: relative;
    left: 40%;

}
.things_date{
    position: relative;
    left: 45%;
}
.image{
    box-shadow: 5px 10px 18px rgb(64, 61, 61);
}
/*  */
  /*  */